Recipes/recipes.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT collection (description,author*,recipe+)>

<!ELEMENT description (#PCDATA)>

<!ELEMENT recipe (title,image,ingredient+,preparation,comment?,nutrition?)>
<!ATTLIST recipe
  nr-of-persons CDATA #IMPLIED>

<!ELEMENT title (#PCDATA)>
<!ELEMENT image (#PCDATA)>

<!ELEMENT comment (#PCDATA)>

<!ELEMENT nutrition EMPTY>
<!ATTLIST nutrition
  alcohol CDATA #IMPLIED
  calories CDATA #REQUIRED
  carbohydrates CDATA #REQUIRED
  fat CDATA #REQUIRED
  protein CDATA #REQUIRED>

<!-- Here comes your work.
  Please complete this DTD in order to validate the example XML file recipes.xml
-->

<!ATTLIST recipe author-id IDREF #IMPLIED>

<!ELEMENT author (#PCDATA)>
<!ATTLIST author id ID #REQUIRED>
<!ATTLIST author title CDATA #REQUIRED>

<!ELEMENT ingredient (EMPTY | (ingredient*, preparation?))>
<!ATTLIST ingredient
        name CDATA #REQUIRED
        amount CDATA #IMPLIED
        unit (pound | cup | tablespoon | ounce | jar | teaspoon |
                can | ribs | package) #IMPLIED
>

<!ELEMENT preparation (step+)>

<!ELEMENT step (#PCDATA)>