Addressbook/addresses.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT addresses (person*)>

<!ELEMENT person (title?, ((firstname, lastname) | (lastname, firstname)), address, phone?, e-mail)>

<!ELEMENT address (street, zip, city)>

<!ELEMENT title (#PCDATA)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT zip (#PCDATA)>
<!ELEMENT city (#PCDATA)>

<!ELEMENT phone (#PCDATA)>

<!ELEMENT e-mail (#PCDATA)>
