Addressbook/addresses.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT address-book (person | company)*>

<!ELEMENT person (title?, ((firstname, lastname) | (lastname, firstname)), address+, phone*, e-mail)>

<!ELEMENT address (street, zip, city)>
<!ATTLIST address type (home | work) #REQUIRED>

<!ELEMENT title (#PCDATA)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT zip (#PCDATA)>
<!ELEMENT city (#PCDATA)>

<!ELEMENT e-mail (#PCDATA)>
