CarRental/car-rental.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
This DTD defines a XML vocabulary, which persists data for the
"car rental" example of this course. 
-->
<!ELEMENT car-rental (stadt*, autokategorie*, kunde*)>

<!ELEMENT stadt (vermiet-station)*>
<!ATTLIST stadt
	stadtcode 				ID #REQUIRED
	name 					CDATA #REQUIRED
	einwohner_anzahl 		CDATA #REQUIRED
>

<!--
Since XML doesn't support composite keys, we introduce a
simple, surrogate primary key "id".
The attributes geoeffnet_von and geoeffnet_bis are missing in the
relational model and are introduced to demonstrate time-literals. 
-->
<!ELEMENT vermiet-station EMPTY>
<!ATTLIST vermiet-station
	id 						ID #REQUIRED
	stations_name 			CDATA #REQUIRED
	adresse					CDATA #REQUIRED
	mitarbeiter_anzahl		CDATA #REQUIRED
	geoeffnet_von			CDATA #IMPLIED
	geoeffnet_bis			CDATA #IMPLIED
>

<!ELEMENT autokategorie EMPTY>
<!ATTLIST autokategorie
	kategorie_bezeichnung 	ID #REQUIRED
	grundtarif 				CDATA #REQUIRED
	km_preis 				CDATA #REQUIRED
>

<!ELEMENT kunde (reservierung)*>
<!ATTLIST kunde
	fuehrerschein_nummer 	ID #REQUIRED
	kunde_name 				CDATA #REQUIRED
	anschrift 				CDATA #REQUIRED
>

<!ELEMENT reservierung EMPTY>
<!ATTLIST reservierung
	vermiet-station-id 		IDREF #REQUIRED
    reservierungs_nr  		CDATA #REQUIRED
    anfangsdatum				CDATA #REQUIRED
    enddatum					CDATA #REQUIRED
    kategorie_bezeichnung	IDREF #REQUIRED
>